# --- APP CONFIGURATIONS --------------------
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=<your-domain.com>

# --- DATABASE CONFIGURATIONS --------------------
DB_CONNECTION=<your_value>
DB_HOST=<your_value>
DB_PORT=<your_value>
DB_DATABASE=<your_value>
DB_USERNAME=<your_value>
DB_PASSWORD=<your_value>

# --- LOGGING CONFIGURATIONS --------------------
LOG_LEVEL=warning

# --- MAIL CONFIGURATIONS --------------------
MAIL_HOST=<your_value>
MAIL_PORT=2525
MAIL_USERNAME=<your_value>
MAIL_PASSWORD=<your_value>
MAIL_FROM_ADDRESS=<your_value>
